<template>
  <div>
    <Logo>
      <template #logotype>
        <span class="row1">E<i>a</i>rly</span>
        <span class="row2">b<i>i</i>rd</span>
      </template>
      <template #subtitle>
        <span class="subtitle">Fang den digitalen Wurm</span>
      </template>
      <template #cta>
        <a class="cta" style="cursor: not-allowed">Los geht's</a>
      </template>
    </Logo>
  </div>
</template>

<script lang="ts">
import {useHead} from '@vueuse/head'
import Logo from "../components/Logo.vue";

export default {
  components: {Logo},
  setup() {
    useHead({
      title: 'Early Bird KI - Startseite',
      meta: [
        {
          name: 'description',
          content: 'Early Bird KI - Startseite',
        },
      ]
    })
  },
  serverPrefetch() {
    console.log('prefetch')
  },
}
</script>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.row1, .row2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transform: scaleX(0.95);
  font-size: 99px;
  line-height: 100px;
  font-weight: 600;

  i {
    font-style: normal;
    color: var(--highlight-color);
  }
}

.row1 {
  $spacing: 0.2em;
  letter-spacing: $spacing;
  text-indent: $spacing;
}

.row2 {
  $spacing: 0.35em;
  letter-spacing: $spacing;
  text-indent: $spacing;
}

.subtitle {
  font-family: "courier new", monospace;
  color: var(--action-color);
  font-size: 21px;
  letter-spacing: 0.05em;
}

.cta {
  transition: all 0.2s ease, visibility 0s;
  border-radius: 20px;
  box-shadow: 1.41px 1.41px 4px rgb(0 0 0 / 15%);
  border: 1px solid var(--highlight-color);
  background: rgba(170, 255, 206, 0.5);
  color: var(--action-color);

  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;

  line-height: 40px;
  padding: 1ex 1.5em;
}

</style>
