<template>
  <div>
    <main>
      <p>Was ist der digitale Wurm überhaupt? Ein Roboter?</p>
      <p>Du findest im Internet einen Textausschnitt über künstliche Intelligenz, aber der digitale Wurm hat auch hier seine Spuren hinterlassen.</p>
    </main>
    <img src="../assets/Definition-KI.png">
  </div>
</template>

<script>
import {useHead} from '@vueuse/head'

export default {
  setup() {
    useHead({
      title: 'Early Bird KI - Mission 1',
      meta: [
        {
          name: 'description',
          content: 'Early Bird KI - Mission 1',
        },
      ]
    })
  }
}
</script>

<style scoped>

</style>
