<template>
  <div id="logo">
    <div id="circle1"></div>
    <div id="circle2"></div>
    <div id="circle3"></div>
    <div id="copy">
      <div id="logotype">
        <slot name="logotype"></slot>
      </div>
      <div id="subtitle">
        <slot name="subtitle"></slot>
      </div>
      <div id="cta">
        <slot name="cta"></slot>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
#logo {
  $step: 66px;
  $content: 400px;

  display: grid;
  grid-template-rows: $step $step $step $content $step $step $step;
  grid-template-columns: 1fr $step $step $step $content $step $step $step 1fr;


  #circle1, #circle2, #circle3 {
    border-radius: 50%;
    border: 3px solid var(--highlight-color);
    pointer-events: none;
  }

  #circle1 {
    grid-column: 2/-2;
    grid-row: 1/-1;

    animation: fadein1 0.6s linear 1s both;

    @keyframes fadein1 {
      from { opacity: 0; }
      to   { opacity: 0.07; }
    }
  }
  #circle2 {
    grid-column: 3/-3;
    grid-row: 2/-2;

    animation: fadein2 0.6s linear 0.5s both;

    @keyframes fadein2 {
      from { opacity: 0; }
      to   { opacity: 0.15; }
    }
  }
  #circle3 {
    grid-column: 4/-4;
    grid-row: 3/-3;

    animation: fadein3 0.6s linear 0s both;

    @keyframes fadein3 {
      from { opacity: 0; }
      to   { opacity: 0.5; }
    }
  }

  #copy {
    grid-column: 4/-4;
    grid-row: 3/-3;
    color: var(--base-color);

    display: grid;
    grid-template-rows: 2fr 230px 1fr 1fr;
    text-align: center;

    #logotype {
      grid-row: 2;

      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    #subtitle {
      grid-row: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      animation: fadein-subtitle 0.8s linear 0.5s both;

      @keyframes fadein-subtitle {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
    }

    #cta {
      grid-row: 4;

      animation: fadein-subtitle 0.8s linear 0.6s both;

      @keyframes fadein-subtitle {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
    }

  }
}
</style>
