<template>
  <router-view/>
</template>

<style>
:root {
  --highlight-color: #00FF6C;
  --base-color: #6B937C;
  --global-bg: #101033;
  --action-color: #fff;
}

body {
  background: var(--global-bg);
}

.debug {
  outline: 1px solid red;
}
</style>
